Flask==2.3.3
flask-caching>=2.1.0
Flask-Cors>=4.0.0
SQLAlchemy==1.4.49
sqlalchemy2-stubs>=0.0.2a35
psycopg2cffi==2.9.0
reynir-correct==3.4.6
striprtf>=0.0.26
defusedxml>=0.7.1
cachetools>=5.3.1
html2text>=2020.1.16
odfpy>=1.4.1
pdfminer.six>=20221105
gunicorn>=21.2.0
