Flask==2.3.3
flask-caching>=2.3.1
Flask-Cors>=5.0.1
SQLAlchemy==1.4.54
sqlalchemy2-stubs>=0.0.2a38
psycopg2cffi==2.9.0
reynir-correct>=4.1.0
striprtf>=0.0.29
defusedxml>=0.7.1
cachetools>=5.5.2
html2text>=2025.4.15
odfpy>=1.4.1
pdfminer.six>=20250506
gunicorn>=23.0.0
